body {
    background-image: linear-gradient(rgba(16, 16, 16, 0.8)
    ,rgba(16, 16, 16 0.8));
  
  }
  .header{
    margin-top: -20px;
    background: url(../Album/images/12.jpg) no-repeat;
    background-size: cover;
    height: 500px;
    text-align: center;
  
  }
  .header .nav{
    display: flex;
    flex-direction: row-reverse;
  }
  .header .nav li{
    margin-top: 40px;
    margin-left: 80px;
  }
  .header .nav li a{
      font-weight: 400;
      font-size: 18px;
       color:white;
       font-family: Lora, serif;
      white-space: pre;
      transition:0.5s ;
  }
  .header .nav li a:hover{
    color:gray;
  }
  .header .nav li:nth-child(1){
      margin-right: 50px;
  }
  .header h1{
    color: white;
    margin-top: 150px;
    -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
  }
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  .content{
      background: url(../Album/images/08.jpg) no-repeat;
      background-size: cover;
      height: 1000px;
      display: flex;
      align-items: center;
  }
  .img{
      width: 600px;
      height: 600px;
      background: url(../Album/images/21.jpg) no-repeat;
      background-size: cover;
      margin-left: 100px;
  }
  
  .des{
    width: 600px;
    height: 600px;
  }
  
  .des li:nth-child(1){
      margin-top: 60px;
  }
  .des .box{
      width: 600px;
      height: 100px;
      border-bottom:darkred solid 1px;
      margin-bottom: 30px;
  }
  .des .box .text{
      color: white;
      font-size: 20px;
  }