@font-face {
  font-family: Biko;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lora/v15/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-MoFoq92mQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lora/v15/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lora/v15/0QI6MX1D_JOuGQbT0gvTJPa787z5vBJBkqg.ttf) format('truetype');
}
body {
  background-image: linear-gradient(rgba(16, 16, 16, 0.8)
  ,rgba(16, 16, 16 0.8));

}
.header{
  margin-top: -20px;
  background: url(../Live/images/12.jpg) no-repeat;
  background-size: cover;
  height: 500px;
  text-align: center;

}
.header .nav{
  display: flex;
  flex-direction: row-reverse;
}
.header .nav li{
  margin-top: 40px;
  margin-left: 80px;
}
.header .nav li a{
    font-weight: 400;
    font-size: 18px;
     color:white;
     font-family: Lora, serif;
    white-space: pre;
    transition:0.5s ;
}
.header .nav li a:hover{
  color:gray;
}
.header .nav li:nth-child(1){
    margin-right: 50px;
}
.header h1{
  color: white;
  margin-top: 150px;
  -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.content{
  background-image: linear-gradient( 135deg, #FEC163 10%, #DE4313 100%);
  width: 100%;
  height:1400px;
}
.content .live{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  padding-top:50px;
  margin-left: 250px;
}
.content .live img{
  width: 350px;
  height: 250px;
}
.content .live .des{
  width: 650px;
  height: 250px;
  background-color: white;
}
.content .live .des .title{
  margin-top: 30px;
  margin-left: 30px;
}
.content .live .des .title h1{
  font-size: 30px;
  font-weight: 350;
  color:rgba(47, 27, 104, 1);
}
.content .live .des .text{
  margin-top: 20px;
  margin-left: 30px;
  text-indent: 2em;
  margin-right: 10px;
}
.content .live .des .text p{
  color: rgba(112, 112, 112, 1);
  font-size: 14px;
  line-height: 1.7;
}
.content .live .des .time{
  margin-top: 50px;
  margin-left: 30px;
}
.content .live .des .time p{
  color: #999;
  font-size: 14px;
}